{% extends 'html/base.html' %}

{% load static %}

{% block firstSection %}
    <div class="contain-fluid position-relative p-0 ">

        <div class="container-fluid bg-primary py-5 mb-5 first-section">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1 class="display-3 text-white mb-3">Do Enjoy your Vacation</h1>
                        <p class="fs-4 text-white mb-4">The new way to plan your next trip. Hope you enjoy your trip fulliest your heart content</p>
                        <div class="position-relative w-75 mx-auto">
                            <input type="text" class="form-control border-0 rounded-pill w-100 py-3 ps-o4 pe-5" placeholder="Type your location." id="searchPlaceId" style="padding-left: 20px;">
                            <!-- button  -->
                            <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top:7px;" onclick="placeInfoSearch()">Find</button>
                        </div>

                        <p id="locationError" style="visibility:hidden;">Please Enter a city name of Bangladesh</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block content %}
    <h1>Welcome to home</h1>
{% endblock %}

<!-- js link  -->
{% block bodyLast %}
    <script src="{% static 'js/home.js' %}"></script>
    <script>
        var weatherInfoUrl = "{% url 'weatherInfo' %}";
    </script>
{% endblock %}